@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* font-family: 'Roboto', sans-serif;   */
  font-family: 'Montserrat', sans-serif;
}


.roboto-font{
  font-family: 'Roboto', sans-serif !important; 
}

.merkal_gradient{
  background-color: #06bcfb;
  background-image: linear-gradient(315deg, #06bcfb 0%, #4884ee 74%);
}